body { font-family: 'Open Sans', sans-serif; -webkit-font-smoothing: antialiased; }
::-webkit-scrollbar { width: 8px; height: 8px; background-color: #2b2d31; }
::-webkit-scrollbar-track { background-color: #2b2d31; }
::-webkit-scrollbar-thumb { background-color: #1a1b1e; border-radius: 4px; }
.no-scrollbar::-webkit-scrollbar { display: none; }
.bot-tag { font-size: 10px; padding: 1px 4px; border-radius: 4px; display: flex; align-items: center; height: 15px; line-height: 1; font-weight: 600; }
.member-item:active { background-color: #404249; }
.status-streaming { background-color: #593695; clip-path: polygon(30% 0%, 70% 0%, 100% 50%, 70% 100%, 30% 100%, 0% 50%); }
.header-icon { background-color: #b5bac1; cursor: pointer; transition: background-color 0.1s; width: 24px; height: 24px; -webkit-mask-size: contain; mask-size: contain; -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: center; mask-position: center; }
.header-icon:hover { background-color: #dbdee1; }
.header-icon.active { background-color: #fff; }